<%- include('includes/header') %>
<%- include('includes/navbar') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto justify-content-center mt-5">
                <h1 class="display-5 text-center ">Agenda</h1>
                <p class="text-center lead"> 
                <% if(!contato) { %>
                    Crie um novo contato
                <% } else { %>
                    Editar contato
                <% } %>
                </p>
                
                <!--messages-->
                <%- include('includes/messages'); %>
                
                <% if(!contato) { %>
                    <form action="/contato/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="name" value="<%= dataContato && dataContato.name %>">
                        </div>
                        <div class="form-group">
                            <label>Endereço de email</label>
                            <input type="email" class="form-control" name="email" value="<%= dataContato && dataContato.email %>">
                        </div>

                        <div class="form-group">
                            <label>Numero de contato</label>
                            <input type="text" class="form-control" name="number" value="<%= dataContato && dataContato.number %>">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>

                <% } else { %>

                    <form action="/contato/edit" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="name" value="<%= contato.name %>">
                        </div>
                        <div class="form-group">
                            <label>Endereço de email</label>
                            <input type="email" class="form-control" name="email" value="<%= contato.email %>">
                        </div>

                        <div class="form-group">
                            <label>Numero de contato</label>
                            <input type="text" class="form-control" name="number" value="<%= contato.number %>">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                <% } %>
            </div>

        </div>
    </div>


<%- include('includes/footer') %>